POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=Vente
POSTGRES_PORT=5432

# FastAPI tourne sur ta machine, donc on pointe vers localhost
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/Vente
